body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/registers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.reg-container {
    border-radius: 5%;
    background-color: rgba(0,0,0,0.4);
}

.title-text {
    text-align: justify;
    color: blue;
}

.username{
    width: 100%;
    font-weight: bold;
    padding: 12px 20px ;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.email {
    width: 100%;
    font-weight: bold;
    padding: 12px 20px ;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.password{
    width: 100%;
    font-weight: bold;
    padding: 12px 20px ;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.confirm-password{
    width: 100%;
    font-weight: bold;
    padding: 12px 20px ;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.submit-reg {
    background-color: #4CAF50;
    color: white;
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px
}