<!doctype html>
<html>
<style>
.form {
    margin: auto;
    width: 75%;
    padding: 1.5rem;
}
form label{
    display: block;
}
.result {
    margin: auto;
    width: 75%;
    border: 1px solid #ccc;
}
.form-group {
    margin-bottom: 1em;
}
</style>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TourWise Ke</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
    <nav class="navbar navbar-dark sticky-top">
        <div>
            <a class="home" href="{{ url_for('main') }}">Home</a>
        </div>
        <div class="current_user">
            {% if current_user.is_anonymous %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
            {% else %}
                <a class="home" href="{{ url_for('visits') }}">Visits</a>
                <a class="home" href="{{ url_for('view_news') }}">News</a>
                <p class="logged-in-as">{{current_user.username}}</p>
                <a href="{{ url_for('logout') }}"><button class="btn btn-primary">Logout</button></a>
            {% endif %}
        </div>
    </nav>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="" method="post" class="form">
                   {{ form.hidden_tag() }}
                   <div class="row mb-3">
                      {{ form.email(placeholder="email") }}
                      {% for error in form.email.errors %}
                      <p>{{ error }}</p>
                      {% endfor %}
                   </div>
                   <br>
                   <div class="row mb-3">
                      {{ form.password(placeholder="password") }}
                      {% for error in form.password.errors %}
                      <p>{{ error }}</p>
                      {% endfor %}
                   </div>
                   <p class="text-dark">{{ form.remember() }} {{ form.remember.label }}</p>
                   {{ form.submit_login(class ='btn btn-primary') }}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <p class="text-dark">Don't have an account? <a href="{{ url_for('register') }}">Create a new Account!</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('main') }}" method="POST">
                {#                    <div class="form-body">#}
                                        <input name="month-today" id="month-today" type="number" value="">
                                                <div class="form-group">
                                                <label for="select_place">Choose County to Visit</label>
                                                <select name="select_place" class="form-select" id="select_place">
                                                    <option value="">--choose county--</option>
                                                    {% if all_counties %}
                                                        {% for county in all_counties %}
                                                            <option value="{{ county.county_name }}">{{ county.county_name }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="age">Your Age</label>
                                                    <input placeholder="age" name="age" type="number" id="age" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="temperature">Temperature in the Area</label>
                                                    <input name="temperature" type="number" id="temperature"  step="0.01" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Please Enter Your Income in Ksh:</label>
                                                    <input name="income" type="number" id="income" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Humidity in the Area </label>
                                                    <input name="humidity" type="number" id="humidity"  step="0.01" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>How long do you plan to stay?(in days)</label>
                                                    <input name="duration" type="number" id="duration"  required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Gender</label>
                                                    <select name="select_gender" class="form-select" id="select_gender">
                                                        <option value="">--Gender--</option>
                                                        <option value="1">Male</option>
                                                        <option value="0">Female</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>How many people will accompany you?</label>
                                                    <input name="no_of_people" type="number" id="no_of_people" required>
                                                </div>
                                                <div class="form-group">
                                                <label for="select_accommodation">Preferred Type of Accomodation</label>
                                                <select name="select_accommodation" class="form-select" id="select_accommodation">
                                                <option value="">--Type of Desired Accommodation--</option>
                                                <option value="Airbnb">Airbnb</option>
                                                <option value="Camping">Campsite</option>
                                                <option value="Guest House">Guest House</option>
                                                <option value="Hostel">Hostel</option>
                                                <option value="Hotel">Hotel</option>
                                                <option value="Motel">Motel</option>
                                                <option value="Resort">Resort</option>
                                                <option value="Villa">Villa</option>
                                                <option value="Other">Other</option>
                                            </select>
                                            </div>
                                        </div>
                                        
                                            <input class="button-submit" type="submit">
                {#                    </div>#}
                                </form>
        </div>
        
      </div>
    </div>
  </div>
    <div class="container mt-10">
        <div class="row">
            <div class="col-md-6">
                <!-- <form action="{{ url_for('main') }}" class="predict-form mb-2" method="POST">
{#                    <div class="form-body">#}
                        <input name="month-today" id="month-today" type="number" value="">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <select name="select_place" class="form-select" id="select_place">
                                    <option value="">--choose county--</option>
                                    {% if all_counties %}
                                        {% for county in all_counties %}
                                            <option value="{{ county.county_name }}">{{ county.county_name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Enter age:</label>
                                <input name="age" type="number" id="age" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>Temperature:</label>
                                <input name="temperature" type="number" id="temperature"  step="0.01" required>
                            </div>
                            <div class="col-md-6">
                                <label>Income in Ksh:</label>
                                <input name="income" type="number" id="income" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>Humidity: </label>
                                <input name="humidity" type="number" id="humidity"  step="0.01" required>
                            </div>
                            <div class="col-md-6">
                                <label>Duration of stay: </label>
                                <input name="duration" type="number" id="duration"  required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>Gender: </label>
                                <select name="select_gender" class="form-select" id="select_gender">
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Number of people: </label>
                                <input name="no_of_people" type="number" id="no_of_people" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <select name="select_accommodation" class="form-select" id="select_accommodation">
                                <option value="">--Type of Desired Accommodation--</option>
                                <option value="Airbnb">Airbnb</option>
                                <option value="Camping">Campsite</option>
                                <option value="Guest House">Guest House</option>
                                <option value="Hostel">Hostel</option>
                                <option value="Hotel">Hotel</option>
                                <option value="Motel">Motel</option>
                                <option value="Resort">Resort</option>
                                <option value="Villa">Villa</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        
                        <div  class="form-item">
                            <input class="submit-button" type="submit">
                        </div>
{#                    </div>#}
                </form> -->
            </div>
            <div class="col-md-6">
                <div class="result" align="left">
                    {% if result %}
                        {% for variable, value in original_input.items() %}
                            <b>{{ variable }}</b> : {{ value }}
                        {% endfor %}
                        <br>
                        <br> Predicted expenditure:
                           <p style="font-size:50px">{{ result }}</p>
                        {% else %}
                        <div>
                        <h4>How to use: </h4>
                        <ul>
                            <li>Login or Register</li><br>
                            <li>Fill in the form and submit</li><br>
                            <li>Check suggested places from the county chosen</li><br>
                            <li>Check rating and safety recommendations</li><br>
                            <li>If suitable, add the place to ToVisit List</li><br>
                            <li>If you visit the place you can mark it as visited or delete it</li><br>
                            <li>Leave a rating to encourage other tourists</li><br>
                            <li>Logout</li>
                        </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <br>

    <hr />

    <div style="display: block" id="loading-div">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <div class="container" id="places-div" style="display: none">
     {% if suggested_places %}
         <h2 class="text-primary">Suggested Tourist Attraction Sites in {{ county.county_name }}, Kenya: </h2>
            {% for place in suggested_places %}
                <div class="row mb-2 gap-2">
                    <div class="col-12 col-md-3">
                        <img src={{place.place_picture}} class="rounded" alt="place-image" />
                    </div>
                    <div class="col-12 col-md-8">
                        <h3 class="mb-2">{{ place.place_name }} - {% if place.rating %}
                                {% for x in range(place.rating)%}⭐{% endfor %}
                                 {% endif %} {% if place.county.is_safe %} <i class="text-success">SAFE</i> {% else %} <i class="text-danger">Unsafe</i>{% endif %}</h3>
                        {{ place.place_description }}
                        <i>Go to <a href="{{ place.place_map }}" target="_blank">maps </a></i>
                        <button class="add-to-visit-btn ml-2 btn btn-info" data-place-id="{{ place.id }}">Add ToVisit</button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if featured_places %}
            <h2 class="text">Featured Tourist Attraction Sites in Kenya: </h2>
            {% for place in featured_places %}
                <div class="row gap-2 mb-2">
                    <div class="col-12 col-md-3">
                        <img src={{place.place_picture}} class="rounded" alt="place-image" />
                    </div>
                    <div class="col-12 col-md-8">
                        <h3 class="mb-2">{{ place.place_name }} - {% if place.rating %}
                                {% for x in range(place.rating)%}⭐{% endfor %}
                                 {% endif %} {% if place.county.is_safe %} <i class="text-success">SAFE</i> {% else %} <i class="text-danger">Unsafe</i>{% endif %}</h3>
                        {{ place.place_description }}
                        <i>Go to <a href="{{ place.place_map }}" target="_blank">maps </a></i>
                        <button class="add-to-visit-btn ml-2 btn btn-info" data-place-id="{{ place.id }}">Add ToVisit</button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <footer class="footer poo">
        <div class="container">
            <div class="row">
                <div class="col-4 col-sm-3">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('main') }}">Home</a></li>
                        <li><a href="{{ url_for('visits') }}">Visits</a></li>
                        <li><a href="{{ url_for('view_news') }}">News</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
		              121, Nakuru-Kabarak road<br>
		              TourWise, Nakuru<br>
		              KENYA<br>
		              Tel.: +254 791 440-095<br>
                      Fax1: +254 757 185-189<br>
                      Fax2: +254 797 696-485<br>
		              Email: <a href="mailto:tourwise@gmail.com">tourwise@gmail.com</a>
		           </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a href="http://google.com/+">Google+</a>
                        <a href="http://www.facebook.com/profile.php?id=">Facebook</a>
                        <a href="http://www.linkedin.com/in/">LinkedIn</a>
                        <a href="http://twitter.com/">Twitter</a>
                        <a href="http://youtube.com/">YouTube</a>
                        <a href="mailto:">Mail</a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">
                <div class="col-auto">
                    <p>© Copyright 2023 TourWise</p>
                </div>
           </div>
        </div>
    </footer>
    <script>
        document.getElementById("month-today").value = new Date().getMonth();
        const humidity = document.getElementById(('humidity'))
        const temperature = document.getElementById('temperature');
        const selectPlace = document.getElementById('select_place');

        selectPlace.addEventListener('change', () => {
            var place=document.getElementById('select_place').value;
            checkWeather(place)
        })
        let currWeather;
        const checkWeather = async (place, callback) => {
            let weatherData  = await fetch(`https://api.weatherapi.com/v1/current.json?key=be14007191cf4192b20110252231002&q=${place}&aqi=no`)
            let weatherDataJson = await weatherData.json();
            currWeather = weatherDataJson;
            humidity.value = weatherDataJson.current.humidity;
            temperature.value = weatherDataJson.current.feelslike_c;
            console.log(weatherDataJson.current)
            return weatherDataJson;
        }
        console.log(currWeather)

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        // Get the loading text element
        const loadingDiv = document.getElementById("loading-div");
        const placesDiv = document.getElementById("places-div")
        // Show the loading text
        loadingDiv.style.display = "block";

        // Hide the loading text after 5 seconds
        setTimeout(() => {
          loadingDiv.style.display = "none";
          placesDiv.style.display = "block";
        }, 2500);

        function addToVisit(placeId) {
            fetch('/to-visit/add', {
                method: 'POST',
                body: new URLSearchParams({
                    'place_id': placeId
                })
            })
            .then(response => response.json()
            )
            .then(data => {
                document.querySelector('#visit-item-count').textContent = data.length;
                console.log(data.item_count, data.length)
            })
            .catch(error => {
                console.error('Error adding item to cart:', error);
            });
        }

        document.querySelectorAll('.add-to-visit-btn').forEach(button => {
          button.addEventListener('click', event => {
            const productId = event.target.dataset.placeId;
            console.log("Here ", productId)
            addToVisit(productId);
          });
});

    </script>
</body>
</html>