<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Tourist Expenditure Model</title>
    </head>
    <body>
        <nav>
            <div class="home">
                <a href="{{ url_for('main') }}">Home</a>
            </div>
            <div class="current_user">
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                <p>Logged in as {{current_user.username}}</p>
                <a href="{{ url_for('logout') }}"><button class="logout">Logout</button></a>
                {% endif %}
            </div>
        </nav>
        <form action="{{ url_for('main') }}" method="POST">
            <fieldset>

                <legend>Input values:</legend>
                Date:
                <input name="month-today" id="month-today" type="number" value="">
                <br>

                <select name="select_place" id="select_place">
                <option value="Mombasa">Mombasa</option>
                <option value="Narok">Narok</option>
                <option value="Kajiado">Kajiado</option>
                <option value="Nairobi">Nairobi</option>
                </select>
                Temperature:
                <input name="temperature" type="number" id="temperature"  step="0.01" required>
                <br>
                <br> Humidity:
                <input name="humidity" type="number" id="humidity"  step="0.01" required>
                <br>
                <script>
                    document.getElementById("month-today").value = new Date().getMonth();
                    const humidity = document.getElementById(('humidity'))
                    const temperature = document.getElementById('temperature');
                    const selectPlace = document.getElementById('select_place');

                    selectPlace.addEventListener('change', () => {
                        var place=document.getElementById('select_place').value;
                        checkWeather(place)
                    })
                    let currWeather;
                    const checkWeather = async (place, callback) => {
                        let weatherData  = await fetch(`https://api.weatherapi.com/v1/current.json?key=be14007191cf4192b20110252231002&q=${place}&aqi=no`)
                        let weatherDataJson = await weatherData.json();
                        currWeather = weatherDataJson;
                        humidity.value = weatherDataJson.current.humidity;
                        temperature.value = weatherDataJson.current.feelslike_c;
                        console.log(weatherDataJson.current)
                        return weatherDataJson;
                    }
                    console.log(currWeather)

                </script>
                <br>
                <input type="submit">
            </fieldset>
        </form>
        
        <div class="result">
            {% if result %}
                {% for variable, value in original_input.items() %}
                    <b>{{ variable }}</b> : {{ value }}
                {% endfor %}
                <br>
                <br> Predicted expenditure:
                <p style="font-size:50px">{{ result }}</p>
            {% endif %}
            {% if places %}
                <img src={{places.place_picture}} alt="place image" />
                {{places.place_description}}
            {% endif %}
        </div>
    </body>
</html>